.paginado{
    display: flex;
    position: absolute;
    margin-top: 235px;
    margin-left: 50px;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 15px;
    transition: background-color .3s;
    cursor: pointer;
    font-size: x-large;
    border-style: outset;
    background-color: whitesmoke;
  }

  .pagination a.active {
    background-color: indigo;
    color: white;
    transform: translateY(-10px);
  }
  
  .pagination a:hover:not(.active) {
    background-color: indigo;
    color: whitesmoke;
    transform: translateY(-10px);
    transition: .4s;
}
